/*Stylesheet for TallTrees - Montessori-Inspired School*/
/*Out Of The Box - duartbreedt@gmail.com*/


/* SECTIONS */
/* Section 01 */
#section-01 {
	padding-top: 0;
}
#section-01 img{
	width: 100%;
}
@media all and (min-width: 1200px){
	#section-01 {
		background-image: url("images/acorns/section-01-lg.jpg");
		height: 100%;
	}
}
@media all and (max-width: 1200px){
	#section-01 {
		background-image: url("images/acorns/section-01-md.jpg");
		height: 100%;
	}
	/*#section-01 a p:nth-child(1){
		font-size: 12px !important;
	}*/
}
@media all and (max-width: 992px){
	#section-01 {
		background-image: url("images/acorns/section-01-sm.jpg");
		height: 100%;
	}

	#section-01 #important-message {
		display: none;
	}
}
@media all and (max-width: 768px){
	#section-01 {
		background-image: url("images/acorns/section-01-xs.jpg");
		height: 100%;
	}
}
#section-01 .row {
	opacity: 0;
}
#section-01 .row:nth-child(2) img {
	margin-top: -50px;
}


/* Section 03 */
@media all and (min-width: 1200px){
	#section-03 {
		background-image: url("images/acorns/section-03-lg.jpg");
		height: 100%;
	}
}
@media all and (max-width: 1200px){
	#section-03 {
		background-image: url("images/acorns/section-03-md.jpg");
		height: 100%;
	}
}
@media all and (max-width: 992px){
	#section-03 {
		background-image: url("images/acorns/section-03-sm.jpg");
		height: 100%;
	}
}
@media all and (max-width: 768px){
	#section-03 {
		background-image: url("images/acorns/section-03-xs.jpg");
		height: 100%;
	}
}


/* Section 05 */
@media all and (min-width: 1200px){
	#section-05 {
		background-image: url("images/acorns/section-05-lg.jpg");
		height: 100%;
	}
}
@media all and (max-width: 1200px){
	#section-05 {
		background-image: url("images/acorns/section-05-md.jpg");
		height: 100%;
	}
}
@media all and (max-width: 992px){
	#section-05 {
		background-image: url("images/acorns/section-05-sm.jpg");
		height: 100%;
	}
}
@media all and (max-width: 768px){
	#section-05 {
		background-image: url("images/acorns/section-05-xs.jpg");
		height: 100%;
	}
}


/* Section 07 */
@media all and (min-width: 1200px){
	#section-07 {
		background-image: url("images/acorns/section-07-lg.jpg");
		height: 100%;
	}
}
@media all and (max-width: 1200px){
	#section-07 {
		background-image: url("images/acorns/section-07-md.jpg");
		height: 100%;
	}
}
@media all and (max-width: 992px){
	#section-07 {
		background-image: url("images/acorns/section-07-sm.jpg");
		height: 100%;
	}
}
@media all and (max-width: 768px){
	#section-07 {
		background-image: url("images/acorns/section-07-xs.jpg");
		height: 100%;
	}
}